<%= form_with(model: article_tag) do |form| %>
  <% if article_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article_tag.errors.count, "error") %> prohibited this article_tag from being saved:</h2>

      <ul>
        <% article_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.text_field :article_id %>
  </div>

  <div>
    <%= form.label :tag_id, style: "display: block" %>
    <%= form.text_field :tag_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
